.flightSearch {
  width: 100%;
  height: 100%;
  &__header {
    border-bottom: 1px solid #f0f1f5;
    display: flex;
    align-items: center;
    padding: 24px;
    height: 88px;
    &__checkbox {
      width: 272px;
      height: 40px;
      background: #ebedf2;
      border-radius: 24px;
      display: flex;
      align-items: center;
      padding: 3px;
      position: relative;
      &__slider {
        position: absolute;
        top: 3px;
        display: inline-flex;
        width: 50%;
        height: 34px;
        background: #3a3b50;
        border-radius: 17px;
        z-index: 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
      }
      &__checkboxBtn {
        cursor: pointer;
        position: relative;
        z-index: 1;
        flex: 1;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        color: #3a3b50;
        letter-spacing: 2px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        &.active {
          color: #fff;
        }
      }
    }
  }
  &__main {
    padding: 24px 32px;
    height: calc(100% - 88px);
    display: flex;
    flex-direction: column;
    &__list {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &__item {
        display: inline-flex;
        align-items: center;
        &__title {
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          margin-right: 15px;
        }
        &__input {
          position: relative;
          .ant-modal-root {
            position: absolute;
            .ant-modal-wrap {
              position: absolute;
              left: auto;
              right: auto;
              top: auto;
              bottom: auto;
              overflow: unset;
              .ant-modal {
                top: 10px;
                .ant-modal-body {
                  padding: 0;
                }
              }
            }
          }
          .citySelectModal {
            &__header {
              border-bottom: 1px solid #f0f1f5;
              &__title {
                padding: 16px;
                font-size: 12px;
                font-weight: 400;
                color: #878791;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__closeBtn {
                  background: url("../../static/modal_close.png") no-repeat center center;
                  background-size: contain;
                  width: 14px;
                  height: 14px;
                  cursor: pointer;
                }
              }
            }
            &__cityChecked {
              .ant-tabs-nav {
                .ant-tabs-nav-wrap {
                  .ant-tabs-nav-list {
                    .ant-tabs-tab {
                      padding: 4px 14px 4px 16px;
                      &.ant-tabs-tab-active {
                        .ant-tabs-tab-btn {
                          color: #5b7cf0;
                          font-weight: 400;
                          text-shadow: none;
                        }
                      }
                      .ant-tabs-tab-btn {
                        padding: 4px 10px 4px 4px;
                        width: 100%;
                        text-align: left;
                        border-radius: 2px;
                        font-size: 12px;
                        font-weight: 400;
                        &:hover {
                          background: #f3f3f7;
                          color: #5b7cf0;
                        }
                      }
                    }
                  }
                }
              }
              /deep/.ant-tabs-tabpane {
                padding: 5px 0 5px 20px !important;
              }
              .city_list_box {
                .city_list_main {
                  position: relative;
                  span {
                    position: absolute;
                    left: -12px;
                    top: 5px;
                    font-weight: 700;
                    color: #5b7cf0;
                  }
                }
              }
              .city_list {
                // margin-top: 10px;
                display: inline-flex;
                align-items: center;
                padding-left: 8px;
                width: 88px;
                height: 32px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 400;
                color: #333333;
                cursor: pointer;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                &:hover {
                  color: #5b7cf0;
                  background: #f1f3f5;
                }
              }
            }
          }
        }
      }
      &__checked {
        width: 105px;
        &__switchBtn {
          width: 26px;
          height: 26px;
          background: url("../../static/flight_switch.png") no-repeat center center;
          background-size: contain;
          margin: 0 auto;
          cursor: pointer;
          transform: rotate(0);
          -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          -o-transform: rotate(0);
          &.active {
            animation: switch 0.5s;
            -webkit-animation: switch 0.5s;
          }
          @keyframes switch {
            from {
              transform: rotate(0);
              -webkit-transform: rotate(0);
              -moz-transform: rotate(0);
              -ms-transform: rotate(0);
              -o-transform: rotate(0);
            }
            to {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
            }
          }
        }
      }
      &__searchBtn.ant-btn.ant-btn-primary {
        width: 112px;
        height: 40px;
        background-color: #5b7cf0;
        border-color: #5b7cf0;
        border-radius: 5px;
        margin-left: auto;
        margin-top: auto;
      }
    }
  }
}
