.select_city_modal.ant-modal-wrap {
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  overflow: unset;
  .ant-modal {
    top: 10px;
    .ant-modal-body {
      padding: 0;
    }
  }

  .citySelectModal {
    &__header {
      border-bottom: 1px solid #f0f1f5;
      &__title {
        padding: 16px;
        font-size: 12px;
        font-weight: 400;
        color: #878791;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__closeBtn {
          background: url("../../static/modal_close.png") no-repeat center center;
          background-size: contain;
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
      }
    }
    &__cityChecked {
      min-height: 204px;
      .ant-tabs-nav {
        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            .ant-tabs-tab {
              padding: 4px 14px 4px 16px;
              &.ant-tabs-tab-active {
                .ant-tabs-tab-btn {
                  color: #5b7cf0;
                  font-weight: 400;
                  text-shadow: none;
                }
              }
              .ant-tabs-tab-btn {
                padding: 4px 10px 4px 4px;
                width: 100%;
                text-align: left;
                border-radius: 2px;
                font-size: 12px;
                font-weight: 400;
                &:hover {
                  background: #f3f3f7;
                  color: #5b7cf0;
                }
              }
            }
            .ant-tabs-ink-bar {
              background: #5b7cf0;
            }
          }
        }
      }
      /deep/.ant-tabs-tabpane {
        padding: 5px 0 5px 20px !important;
      }
      .city_list_box {
        .city_list_main {
          position: relative;
          span {
            position: absolute;
            left: -12px;
            top: 5px;
            font-weight: 700;
            color: #5b7cf0;
          }
        }
      }
      .city_list {
        // margin-top: 10px;
        display: inline-flex;
        align-items: center;
        padding-left: 8px;
        width: 88px;
        height: 32px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        cursor: pointer;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        &:hover {
          color: #5b7cf0;
          background: #f1f3f5;
        }
      }
    }
  }
}
