.noticeDetail {
  width: 1200px;
  margin: auto;
  .detail_content {
    text-align: center;
    background-color: #fff;
    padding-top: 56px;
    padding-bottom: 24px;
    margin-top: 16px;
    .detail_title {
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 14px;
    }
    .title_under {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      color: #878791;
      margin-bottom: 40px;
    }
  }
}
