.home {
  &__banner {
    position: relative;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__background {
      background: #0f1d42;
      opacity: 0.6;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__main {
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &__ticketBox {
        width: 712px;
        height: 460px;
        background: #ffffff;
        border-radius: 5px;
        margin-right: 16px;
      }
      &__toolBox {
        width: 472px;
        height: 460px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        &__weatherCalendar {
          background: #ffffff;
          border-radius: 5px;
          width: 100%;
          height: 194px;
        }
        &__notice {
          background: #ffffff;
          border-radius: 5px;
          height: 250px;
          width: 100%;
          .title {
            height: 56px;
            border-bottom: 1px solid #f0f1f5;
            display: flex;
            align-items: center;
            padding: 0 16px;
            font-size: 16px;
            font-weight: bold;
            line-height: 21px;
            color: #333333;
          }
          .notice_main {
            padding: 10px 16px 30px;
            position: relative;
            height: calc(100% - 56px);
            .notice_list {
              cursor: pointer;
              &:not(:last-child) {
                margin-bottom: 14px;
              }
              &:hover {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                .list_content {
                  color: #5b7cf0;
                }
              }
              .list_message {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;
                .notice_title {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 19px;
                  color: #333333;
                  display: inline-flex;
                  align-items: center;
                  .newNotice {
                    padding: 1px 3px;
                    background: #ff9493;
                    box-shadow: 0px 3px 6px rgba(255, 148, 147, 0.3);
                    opacity: 1;
                    border-radius: 3px;
                    font-weight: 400;
                    line-height: 15px;
                    color: #ffffff;
                    margin-left: 5px;
                  }
                }
                .notice_date {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 16px;
                  color: #afafb5;
                }
              }
              .list_content {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #666666;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 65%;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
              }
            }
            .moreNotice {
              position: absolute;
              bottom: 0;
              left: 50%;
              margin-left: -42px;
              width: 84px;
              height: 26px;
              background: #ebedf2;
              opacity: 1;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              color: #3a3b50;
              border-radius: 5px 5px 0px 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
