// 退改签信息浮窗
.refund_popover {
  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner {
      box-shadow: 0px 0px 20px rgba(15, 29, 66, 0.2);
      border-radius: 5px;
      .ant-popover-inner-content {
        padding: 10px 5px 10px 0;
        .refund_box {
          padding: 6px 16px 14px;
          width: 456px;
          max-height: 392px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #dadde2;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
          }
          .refund_title {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 14px;
          }
          .refund_main {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            .refund_main_title {
              height: 32px;
              background: #f0f1f5;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              font-weight: 400;
              color: #333333;
            }
            .refund_main_box {
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #f0f1f5;
              border-left: 1px solid #f0f1f5;
              border-right: 1px solid #f0f1f5;
              margin-top: -1px;

              > p {
                margin: 0;
                padding: 0 8px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                font-size: 12px;
                font-weight: 400;
                color: #333333;
                &:first-child {
                  width: 70%;
                  border-right: 1px solid #f0f1f5;
                }
                &:last-child {
                  width: 30%;
                }
              }
            }
          }
        }
      }
    }
  }
}