.flightList {
  max-width: 1200px;
  margin: 0 auto;
  .flight_list_header {
    width: 100%;
    background: #3a3b50;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 24px;
    .header_message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .message_info {
        position: relative;
        padding-left: 60px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -20px;
          display: block;
          background: url("../../static/flight_icon.png") no-repeat center center #fff;
          background-size: 25px 25px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .info_address {
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 11px;
        }
        .info_date {
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: bold;
          line-height: 19px;
          color: #ffffff;
          opacity: 0.6;
          display: flex;
          align-items: center;

          p {
            letter-spacing: 1px;
            margin: 0;
            &:last-child {
              &::before {
                content: "|";
                color: #fff;
                opacity: 0.2;
                margin: 0 10px;
                font-weight: normal;
              }
            }
          }
        }
      }
      .edit_search {
        width: 112px;
        height: 40px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #3a3b50;
      }
    }
    .header_search {
      margin-top: 35px;
      .search_type {
        margin-bottom: 20px;
        .ant-radio-group {
          .ant-radio-wrapper {
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            .ant-radio {
              .ant-radio-inner {
                background-color: transparent;
                &::after {
                  background-color: #5b7cf0;
                }
              }
            }
          }
        }
      }
      .search_input {
        display: flex;
        align-items: center;
        .input_list {
          position: relative;
          .ant-input {
            width: 240px;
            background: #53566f;
            border: 1px solid #5d6078;
            border-radius: 5px;
            color: #fff;
            margin-right: 24px;
            &:focus {
              box-shadow: none;
              border-color: #5b7cf0;
            }
          }
        }

        .ant-picker {
          width: 240px;
          background: #53566f;
          border: 1px solid #5d6078 !important;
          border-radius: 5px;
          margin-right: 24px;
          input {
            color: #fff !important;
          }
          &.ant-picker-focused {
            box-shadow: none;
            border-color: #5b7cf0 !important;
          }
        }
        .search_btn {
          width: 152px;
          height: 40px;
          background: #5b7cf0;
          border-radius: 5px;
          border-color: #5b7cf0;
        }
      }
    }
  }

  .flight_content {
    display: flex;
    .flight_search {
      width: 256px;
      background: #ffffff;
      box-shadow: 0px 50px 80px #ebedf2;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 24px;
      margin-top: 24px;
      .header_title {
        height: 48px;
        background: #3a3b50;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        width: 100%;
      }
      .search_content {
        padding: 20px 24px;
        overflow-y: auto;
        max-height: 85vh;
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555;
        }
        .search_list {
          &:not(:last-child) {
            margin-bottom: 35px;
          }
          .list_title {
            font-size: 16px;
            font-weight: bold;
            line-height: 21px;
            color: #333333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 20px;
            .search_open_btn {
              width: 9px;
              height: 5px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          &.fiy_time {
            .list_box {
              .box_item {
                width: 208px;
                height: 36px;
                line-height: 36px;
                background: #f0f1f5;
                border-radius: 5px;
                padding-left: 16px;
                display: flex;
                align-items: center;
                border: none;

                font-size: 14px;
                font-weight: 400;
                color: #3a3b50;
                span {
                  display: flex;
                  align-items: center;
                }
                img {
                  width: 17px;
                  height: 17px;
                  object-fit: contain;
                  margin-right: 16px;
                }
                &.ant-radio-button-wrapper-checked {
                  color: #ffffff;
                  background: #3a3b50;
                }
                &::before {
                  display: none;
                }
                &:not(:last-child) {
                  margin-bottom: 8px;
                }
              }
            }
          }
          .list_box {
            width: 100%;
            .box_item {
              display: flex;
              align-items: center;
              width: 100%;
              margin: 0;
              &:not(:last-child) {
                margin-bottom: 20px;
              }
              .ant-checkbox {
                margin-right: 8px;
              }
            }
          }
          .airline_div {
            overflow-y: auto;
            .airline_item {
              .airline_list {
                &:not(:last-child) {
                  margin-bottom: 20px;
                  margin-left: 0px;
                }
                font-size: 16px;
                font-weight: 400;
                color: #333333;
                .airline_checkbox {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  width: 16px;
                  height: 16px;
                  margin-right: 8px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                &:not(:last-child) {
                  margin-bottom: 20px;
                }
                .ant-checkbox-checked {
                  .ant-checkbox-inner {
                    background-color: #5b7cf0;
                    border-color: #5b7cf0;
                  }
                  &::after {
                    width: 16px;
                    height: 16px;
                    top: auto;
                    left: auto;
                  }
                }
                .ant-checkbox {
                  display: inline-flex;
                  align-items: center;
                }
                .ant-checkbox + span {
                  padding-left: 16px;
                }
              }
            }
            .airline_expand {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              background: #dadde2;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              cursor: pointer;
            }
          }
        }
      }
    }

    .flight_main {
      flex: 1;
      .main_header {
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($color: #f0f1f5, $alpha: 0.8);
        padding-bottom: 8px;
        padding-top: 24px;
        .flight_number {
          font-size: 14px;
          font-weight: 400;
          color: #3a3b50;
        }
        .flight_sort {
          width: 160px;
          .ant-select {
            width: 100%;
            .ant-select-selector {
              border: none !important;
              box-shadow: none !important;
              background: #ffffff;
              .ant-select-selection-placeholder {
                font-size: 14px;
                font-weight: 400;
                color: #333333;
              }
            }
          }
        }
      }
      .main_list {
        .list_card {
          height: 128px;
          background: #ffffff;
          box-shadow: 0px 5px 20px #ebedf2;
          position: relative;
          margin-bottom: 8px;
          padding: 32px 24px 24px;
          display: flex;
          justify-content: space-between;
          z-index: 1;
          &.skeleton_card {
            padding: 0 24px 10px;
          }
          &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: inset 0px 4px 10px #ebedf2;
            right: 135px;
            position: absolute;
            top: -8px;
            background: #f0f1f5;
          }
          &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: inset 0px 4px 10px #ebedf2;
            right: 135px;
            position: absolute;
            bottom: -8px;
            background: #f0f1f5;
          }

          .card_air {
            display: flex;
            align-items: flex-start;
            width: 25%;
            padding-top: 10px;
            .air_icon {
              width: 32px;
              height: 32px;
              object-fit: contain;
            }
            .air_message {
              margin-left: 16px;
              .air_name {
                font-size: 12px;
                font-weight: 400;
                color: #333333;
                margin-bottom: 3px;
              }
              .air_number {
                font-size: 12px;
                font-weight: 400;
                color: #878791;
                margin-bottom: 7px;
                border-bottom: 1px dashed #afafb5;
                cursor: pointer;
                display: inline-block;
              }
              .air_meals {
                width: 14px;
                height: 16px;
                background: url("../../static/flight_meal.png") no-repeat center center;
                background-size: contain;
              }
            }
          }
          .flight_message {
            display: flex;
            justify-content: center;
            flex: 1;
            .message_info {
              text-align: center;
              flex: 1;
              .time {
                font-size: 24px;
                font-weight: bold;
                color: #333333;
                margin-bottom: 5px;
              }
              .address {
                font-size: 12px;
                font-weight: 400;
                color: #333333;
              }
            }
            .message_time {
              position: relative;
              margin: 0 40px;
              .time_date {
                position: absolute;
                top: -20px;
                width: 100%;
                text-align: center;

                font-size: 12px;
                font-weight: 400;
                color: #878791;
              }
              .time_icon {
                background: url("../../static/flight_fly.png") no-repeat center center;
                background-size: contain;
                width: 155px;
                height: 30px;
                margin-top: 5px;
              }
            }
          }

          .not_cabin {
            display: flex;
            width: 25%;
            justify-content: flex-end;
            font-size: 30px;
            color: #ccc;
          }

          .flight_account {
            font-weight: bold;
            color: #5b7cf0;
            display: flex;
            align-items: baseline;
            width: 25%;
            justify-content: flex-end;
            p {
              margin: 0;
              font-size: 20px;
            }
            div {
              font-size: 28px;
              font-weight: bold;
              margin: 0 6px 0 3px;
            }
            span {
              font-size: 14px;
              font-weight: 400;
            }
          }

          .cabin_switch {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -42px;
            width: 84px;
            height: 26px;
            background: #3a3b50;
            border-radius: 5px 5px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 400;
            color: #ffffff;
            cursor: pointer;
            border: none;
            &:hover {
              border: none;
            }
          }
        }
        .cabin_content {
          background: rgba($color: #fff, $alpha: 0.8);
          border-radius: 5px;
          padding: 16px 24px 0;
          position: relative;
          top: -16px;
          z-index: 0;

          .cabin_list {
            display: flex;
            align-items: center;
            height: 96px;
            &::before {
              content: "";
              display: block;
              width: 25%;
            }
            &:not(:last-child) {
              border-bottom: 1px solid #dadde2;
            }

            .list_info {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .list_name {
                font-size: 14px;
                // font-weight: bold;
                color: #333333;
                display: flex;
                align-items: center;
                .more_cabin_btn {
                  width: 16px;
                  height: 16px;
                  background: #dadde2;
                  border-radius: 2px;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  margin-left: 11px;

                  img {
                    width: 9px;
                    height: 5px;
                    object-fit: contain;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                  }
                }
              }
              .list_message {
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                color: #5b7cf0;
                > p {
                  margin: 0;
                  &:not(.not_rule) {
                    cursor: pointer;
                  }
                }
                > span {
                  display: inline-block;
                  width: 1px;
                  height: 16px;
                  background: #5b7cf0;
                  opacity: 0.2;
                  margin: 0 8px;
                }
                .not_rule {
                  color: #5b7cf0;
                }
              }
            }
            .list_option {
              width: 25%;
              display: inline-flex;
              align-items: center;
              justify-content: flex-end;
              .list_account {
                width: 70px;
                text-align: right;
                > div {
                  font-size: 16px;
                  color: #5b7cf0;
                  span {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 24px;
                    height: 26px;
                    line-height: 24px;
                    font-weight: bold;
                    border-bottom: 1px dashed #5b7cf0;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
                .incentive_money {
                  display: inline-block;
                  margin-top: 8px;
                  height: 18px;
                  padding: 0 7px;
                  line-height: 18px;
                  background: rgba($color: #f8a978, $alpha: 0.8);
                  border-radius: 2px;
                  font-size: 12px;
                  font-weight: 400;
                  color: #ffffff;
                  text-align: center;
                }
              }
              .option_box {
                position: relative;
                margin-left: 16px;
                .list_btn {
                  min-width: 72px;
                  height: 32px;
                  border-color: #5b7cf0;
                  background: #5b7cf0;
                  border-radius: 5px;
                  &:disabled {
                    background: #f5f5f5;
                    border-color: #d9d9d9;
                  }
                }
                > p {
                  position: absolute;
                  font-size: 12px;
                  font-weight: 400;
                  color: #f36969;
                  margin: 2px 0 0;
                  width: 100%;
                  text-align: center;
                }
              }
            }
          }
          .open_more_cabin_btn {
            text-align: right;
            margin-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            border-bottom: 1px solid #dadde2;
            span {
              cursor: pointer;
              &:hover {
                color: #5b7cf0;
              }
            }
          }
        }
      }
    }
  }
}
