.notice {
  background: #f9ebe3;
  &__main {
    height: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__title {
      font-size: 14px;
      font-weight: bold;
      color: #f8a978;
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
      &::before {
        content: "";
        display: inline-block;
        background: url("../../static/notice_icon.png") no-repeat center center;
        background-size: contain;
        width: 22px;
        height: 20px;
        margin-right: 10px;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 16px;
        opacity: 0.32;
        background-color: #f8a978;
        margin-left: 8px;
      }
    }
    .ant-carousel {
      max-width: 75%;
      flex: 1;
    }
    &__message {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: #333333;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__message_btn {
      font-size: 12px;
      font-weight: 400;
      color: #f8a978;
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      &::after {
        content: "";
        display: inline-block;
        background: url("../../static//notice_btn.png") no-repeat center center;
        background-size: contain;
        width: 5px;
        height: 9px;
        margin-left: 8px;
      }
    }
  }
}