@import "~antd/dist/antd.css";

#yunShangApp {
  height: 100%;
}

body {
  background: #f0f1f5;
  min-width: 1345px;
}
p {
  margin: 0;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.ant-layout-header + div {
  min-width: 1200px;
  flex-shrink: 0;
  flex: 1;
  &:not(.home) {
    margin-top: 26px;
    margin-bottom: 48px;
  }
}

// antd 样式替换

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  height: auto !important;
  padding: unset !important;
}
.ant-layout-content {
  flex-shrink: 0;
}
.ant-layout-footer {
  padding: unset !important;
  margin-top: auto;
}

// 开关样式
.ant-switch {
  &.ant-switch-checked {
    background-color: #32d197 !important;
  }
}

// 按钮
.ant-btn-background-ghost.ant-btn-primary:hover,
.ant-btn-background-ghost.ant-btn-primary:focus {
  color: #5b7cf0;
  border-color: #5b7cf0;
}
.ant-btn-link {
  color: #5b7cf0;
}

// 单选按钮
.ant-radio {
  .ant-radio-inner {
    border-color: #afafb5;
    width: 20px;
    height: 20px;
    &::after {
      top: 5px !important;
      left: 5px !important;
      background-color: #fff;
    }
  }
  &.ant-radio-checked {
    .ant-radio-inner {
      border-color: #5b7cf0;
      background-color: #5b7cf0;
    }
  }
  &:hover {
    .ant-radio-inner {
      border-color: #5b7cf0;
    }
  }
}

// 多选框
.ant-checkbox {
  &.ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: #5b7cf0;
      border-color: #5b7cf0;
    }
  }
  &:hover {
    .ant-checkbox-inner {
      border-color: #5b7cf0;
    }
  }
}
// 多选框组
.ant-checkbox-wrapper {
  &:hover {
    .ant-checkbox {
      .ant-checkbox-inner {
        border-color: #5b7cf0;
      }
    }
  }
}

// 输入框
.ant-input {
  border-color: #afafb5;
  height: 40px;
  border-radius: 5px;
  &:hover {
    border-color: #5b7cf0;
  }
}
.ant-input:focus,
.ant-input-focused {
  border-color: #5b7cf0;
  box-shadow: 0 0 0 2px rgba(91, 124, 240, 0.2);
}
.ant-input-affix-wrapper {
  border-color: #afafb5;
  input[type="text"] ~ .ant-input-suffix {
    .ant-input-password-icon {
      background: url("./static/password_show.png") no-repeat center center;
      background-size: contain;
      width: 16px;
      height: 16px;
      > * {
        display: none;
      }
    }
  }
  input[type="password"] ~ .ant-input-suffix {
    .ant-input-password-icon {
      background: url("./static/password_hidn.png") no-repeat center center;
      background-size: contain;
      width: 16px;
      height: 16px;
      > * {
        display: none;
      }
    }
  }

  &:hover {
    border-color: #5b7cf0;
  }
  .ant-input {
    height: auto;
  }
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 2px rgba(91, 124, 240, 0.2);
}

// 选择器
.ant-select {
  &:hover {
    .ant-select-selector {
      border-color: #5b7cf0 !important;
    }
  }
  .ant-select-selector {
    border: 1px solid #afafb5 !important;
    height: 40px !important;
    border-radius: 5px !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        height: 40px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      line-height: 40px;
    }
  }
  &.ant-select-open {
    .ant-select-selector {
      border: 1px solid #5b7cf0 !important;
    }
    .ant-select-arrow {
      .ant-select-suffix {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }
    }
  }

  .ant-select-arrow {
    .ant-select-suffix {
      background: url("./static/ant_select_arrow.png") no-repeat center center;
      background-size: 9px 5px;
      width: 100%;
      height: 100%;
      > * {
        display: none;
      }
    }
  }
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: 0 0 0 2px rgba(91, 124, 240, 0.2);
}

// 下拉选择器
.ant-dropdown-trigger {
  .anticon-down {
    background: url("./static/ant_select_arrow.png") no-repeat center center;
    background-size: 9px 5px;
    width: 9px;
    height: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    > * {
      display: none;
    }
  }
  &.ant-dropdown-open {
    .anticon-down {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
  }
}

// 选择器弹窗
.ant-select-dropdown {
  padding: 16px 8px;
  .ant-select-item {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    border-radius: 2px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &.ant-select-item-option-active {
      background: #f3f3f7;
      color: #5b7cf0;
    }
    &.ant-select-item-option-selected {
      font-size: 12px;
      font-weight: 400;
      color: #5b7cf0;
      background: #f3f3f7;
    }
  }
}

// 下拉菜单弹窗
.ant-dropdown {
  box-shadow: 0px 0px 20px rgba(15, 29, 66, 0.2);
  border-radius: 5px;
  .ant-dropdown-menu {
    padding: 16px 8px;
    .ant-dropdown-menu-item {
      padding: 8px 16px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      font-size: 12px;
      font-weight: 400;
      color: #333333;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &:hover {
        background-color: #f3f3f7;
        color: #5b7cf0;
      }
    }
  }
}

// 分页器
.ant-pagination {
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 24px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3a3b50;
    border-radius: 2px;
    &:not(.ant-pagination-disabled) {
      button {
        &:hover {
          color: #5b7cf0;
        }
      }
    }
    button {
      background-color: #f0f1f5;
      border: none;
    }
  }
  .ant-pagination-item {
    min-width: 24px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3a3b50;
    border-radius: 2px;
    background-color: #f0f1f5;
    border: none;
    &:not(.ant-pagination-item-active) {
      &:hover {
        a {
          color: #5b7cf0;
        }
      }
    }
    &.ant-pagination-item-active {
      background-color: #5b7cf0;
      a {
        color: #fff;
      }
    }
  }

  .ant-pagination-options {
    .ant-select {
      .ant-select-selector {
        height: 24px !important;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        border-color: #dadde2 !important;
        .ant-select-selection-search {
          .ant-select-selection-search-input {
            height: 24px !important;
          }
        }
        .ant-select-selection-item {
          line-height: 24px;
          font-size: 12px;
          font-weight: 400;
          color: #333333;
        }
      }
    }
    &:hover {
      .ant-select {
        .ant-select-selector {
          &:hover {
            border-color: #5b7cf0 !important;
          }
        }
      }
    }
  }
}

// 日期选择框
.ant-picker {
  width: 222px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #afafb5;
  &.ant-picker-focused {
    box-shadow: 0 0 0 2px rgba(91, 124, 240, 0.2);
  }
  .ant-picker-suffix {
    flex-shrink: 0;
    background: url("../src/static/date_select_icon.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    > * {
      display: none;
    }
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
  .ant-picker-clear {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    > * {
      vertical-align: unset !important;
    }
  }
}

// 日期选择器
.ant-picker {
  min-width: 200px;
  height: 40px;
  border: 1px solid #afafb5 !important;
  border-radius: 5px;
  &:hover {
    border-color: #5b7cf0 !important;
  }
  &.ant-picker-focused {
    border: 1px solid #5b7cf0 !important;
  }
  &.ant-picker-disabled {
    opacity: 0.4;
  }
}

// 日期选择器弹窗
.ant-picker-dropdown {
  .ant-picker-panel-container {
    box-shadow: 0px 0px 20px rgba(15, 29, 66, 0.2);
    border-radius: 5px;
    .ant-picker-panel {
      .ant-picker-date-panel {
        .ant-picker-header {
          border-bottom: none;
          padding-top: 8px;
          // 隐藏年切换按钮
          .ant-picker-header-super-prev-btn,
          .ant-picker-header-super-next-btn {
            display: none;
          }
          // 更换月选择按钮样式
          .ant-picker-header-prev-btn,
          .ant-picker-header-next-btn {
            line-height: 0;
            &:hover {
              .ant-picker-prev-icon,
              .ant-picker-next-icon {
                background: url("../src/static/pickerDropdown_active.png") no-repeat
                  center center;
                background-size: contain;
              }
            }
            .ant-picker-prev-icon,
            .ant-picker-next-icon {
              width: 24px;
              height: 24px;
              background: url("../src/static/pickerDropdown.png") no-repeat center center;
              background-size: contain;
              transform: unset;
              -webkit-transform: unset;
              -moz-transform: unset;
              -ms-transform: unset;
              -o-transform: unset;
              transition: all 0.3s;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              &::before {
                display: none;
              }
            }
            .ant-picker-next-icon {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
            }
          }
        }
        .ant-picker-body {
          .ant-picker-content {
            th {
              font-size: 12px;
              font-weight: 400;
              color: #999999;
            }

            .ant-picker-cell {
              &::before {
                height: 28px;
              }
              &.ant-picker-cell-selected {
                .ant-picker-cell-inner {
                  background: #5b7cf0;
                  color: #fff;
                  box-shadow: 0px 0px 5px rgba(91, 124, 240, 0.5);
                }
              }
              &.ant-picker-cell-today {
                .ant-picker-cell-inner {
                  &::before {
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                  }
                }
              }
              &:not(.ant-picker-cell-selected) {
                .ant-picker-cell-inner {
                  &:hover {
                    background: #e9eeff;
                  }
                }
              }
              .ant-picker-cell-inner {
                width: 28px;
                height: 28px;
                line-height: 28px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 400;
              }

              // 时间多选样式
              &.ant-picker-cell-range-start {
                .ant-picker-cell-inner {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  background: #5b7cf0;
                  box-shadow: 0px 0px 5px rgba(91, 124, 240, 0.5);
                }
                &::before {
                  background: #e9eeff;
                }
              }
              &.ant-picker-cell-range-end {
                .ant-picker-cell-inner {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  background: #5b7cf0;
                  box-shadow: 0px 0px 5px rgba(91, 124, 240, 0.5);
                  &::before {
                    display: none;
                  }
                  &:hover {
                    background: #5b7cf0;
                  }
                }
                &::before {
                  background: #e9eeff;
                }
              }
              &.ant-picker-cell-in-range {
                &::before {
                  background: #e9eeff;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 对话框
.ant-modal-content {
  border-radius: 5px;
  .ant-modal-close-x {
    color: #fff;
  }
  .ant-modal-header {
    height: 48px !important;
    background: #3a3b50 !important;
    border-radius: 5px 5px 0px 0px !important;
    border-bottom: 1px solid #3a3b50 !important;
    .ant-modal-title {
      font-size: 16px;
      font-weight: 400;
      color: #ffffff !important;
    }
  }
  .ant-modal-footer {
    text-align: center;
    border-top: none;
    padding-bottom: 32px;
    .ant-btn {
      width: 96px;
      height: 36px;
      border: 1px solid #dadde2;
      border-radius: 5px;
      &:not(.ant-btn-primary):hover {
        color: #5b7cf0;
        border-color: #5b7cf0;
      }
    }
    .ant-btn-primary {
      width: 96px;
      height: 36px;
      background: #5b7cf0;
      border: 1px solid #5b7cf0;
      border-radius: 5px;
    }
    .ant-modal-footer button + button {
      margin-left: 16px !important;
    }
  }
}

// 面包屑
.ant-breadcrumb {
  .ant-breadcrumb-link {
    font-size: 12px;
    font-weight: 400;
    color: #878791;
    cursor: pointer;
    &:hover {
      color: #5b7cf0;
    }
    a {
      &:hover {
        color: #5b7cf0;
      }
    }
  }
  .ant-breadcrumb-separator {
    color: transparent;
    background: url("../src/static/breadcrumb_icon.png") no-repeat center center;
    background-size: 5px 9px;
  }
  > span:last-child {
    .ant-breadcrumb-link {
      color: #3a3b50;
    }
  }
}

// 加载蒙版
.ant-spin-nested-loading {
  width: 100%;
}

// 弹窗关闭按钮
.ant-modal {
  .ant-modal-content {
    .ant-modal-close {
      .ant-modal-close-x {
        .ant-modal-close-icon {
          background: url("./static/modal_close.png") no-repeat center center;
          background-size: contain;
          width: 14px;
          height: 14px;

          > * {
            display: none;
          }
        }
      }
    }
  }
}

// config弹窗按钮
.ant-modal-confirm-btns {
  .ant-btn {
    &:hover {
      border-color: #5b7cf0;
      color: #5b7cf0;
    }
    &.ant-btn-primary {
      background-color: #5b7cf0;
      border-color: #5b7cf0;
      &:hover {
        color: #fff;
      }
    }
  }
}

// 返回顶部按钮
.back_top {
  width: 48px;
  height: 48px;
  background: url("../src/static/backtop.png") no-repeat center center
    rgba($color: #3a3b50, $alpha: 0.6);
  background-size: 22px 24px;
  box-shadow: 0px 0px 6px rgba(55, 58, 80, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

// 表格
.ant-table-wrapper {
  // 表格第一行
  .ant-table-thead > tr > th {
    background-color: #ebedf2;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }
  // 表头的行高
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 9px 3px;
  }
  // 表格里行高
  .ant-table-tbody > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 12px 3px;
  }
  // 表格标题间距
  table tr th.ant-table-selection-column,
  table tr td.ant-table-selection-column {
    padding-right: 0px;
    padding-left: 8px;
  }
  // 除了第一行的选中
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #5b7cf0;
    border-color: #5b7cf0 !important;
  }
  // 取消选中的背景颜色
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: none;
  }
  // 表头选中样式
  .ant-table-thead {
    .ant-checkbox-inner {
      border: 1px solid #d9d9d9;
      &::after {
        content: "";
        background-color: #fff;
        border: none;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        height: 2px;
        width: 60%;
        margin-top: -1px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
      }
    }
  }
  // 暂无数据处理
  .table_emptyText {
    margin: 40px 0;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      text-align: center;
      margin-bottom: 3px;
    }
    .ant-btn-link {
      color: #5b7cf0;
    }
  }
}
