.inlandDetail {
    height: 100%;
    .content_div {
        min-height: calc(100% - 110px);
        background: rgba(240, 241, 245, 1);
        padding: 18px 360px;
        display: flex;
        flex-direction: column;
        .content_nav {
            
            font-size: 12px;
            font-weight: 400;
            color: #878791;
            margin-bottom: 16px;
            &:hover {
                
                font-weight: 400;
                color: #3A3B50;
                cursor: pointer;
            }
        }
        .pay_div {
            display: flex;
            justify-content: center;
            height: 56px;
            background: #3A3B50;
            box-shadow: 0px 0px 30px rgba(15, 29, 66, 0.15);
            border-radius: 5px;
            margin-bottom: 16px;
            padding-top: 16px;
            .pay_title {
                
                font-size: 18px;
                font-weight: bold;
                color: #FFFFFF;
                margin-right: 16px;
            }
            .pay_time {
                width: 80px;
                height: 32px;
                background: #FFFFFF;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                color: #F36969;
                text-align: center;
            }
        }
        .content_status {
            
            height: 112px;
            background: #FFFFFF;
            border-radius: 5px;
            margin-bottom: 16px;
            .order_space {
                display: flex;
                align-items: flex-start;
                .order_div {
                    display: flex;
                    align-items: center;
                    padding: 13px 24px;
                    .order_number {
                        
                        font-size: 14px;
                        font-weight: 400;
                        color: #878791;
                        margin-right: 10px;
                    }
                    .input_number_crease {
                        font-size: 18px;
                        font-weight: bold;
                        color: #333333;
                    }
                    .input_number {
                        
                        font-size: 18px;
                        font-weight: bold;
                        color: #333333;
                        margin-right: 10px;
                    }
                    .number_copy {
                        width: 16px;
                        height: 17px;
                        background: url("../../../static/number_copy.png") no-repeat center center;
                        background-size: contain;
                        cursor: pointer;
                    }
                }
                .order_status {
                                    
                    font-size: 18px;
                    font-weight: bold;
                    color: #F36969;
                    padding: 20px 24px 0;
                }
                .order_not_pay {
                    display: flex;
                    align-items: center;
                    padding: 4px 24px;
                }
            }
        }
        .content_item {
            
            background: #FFFFFF;
            border-radius: 5px;
            margin-bottom: 16px;
            .item_title {
                font-size: 18px;
                font-weight: bold;
                color: #3a3b50;
                border-bottom: 1px solid #dadde2;
                padding: 16px 24px;
            }
            .passenger_message{
                padding: 24px;
                .message_nav {
                    display: flex;
                    justify-content: space-between;
                    .passenger_number {
                        
                        font-size: 16px;
                        font-weight: bold;
                        color: #3A3B50;
                    }
                  
                    .ant-checkbox-checked .ant-checkbox-inner {
                        background-color: #5B7CF0;
                        border-color:#5B7CF0;
                    }
                }
                .message_div {
                    display: flex;
                    flex-direction: column;
                    height: 112px;
                    background:rgba(243, 243, 247, 0.7);
                    margin-top: 13px;
                    padding: 21px 16px;
                    .item_space {
                        display: inline-flex;
                        .message_item {
                            display: inline-flex;
                            margin-right: 40px;
                            .message_head {
                                width: 32px;
                                height: 32px;
                                background: url("../../../static/message_head.png") no-repeat center center;
                                background-color: #000;
                                background-size: initial;                
                                border-radius: 50%;  
                                margin-right: 10px;   
                            }
                            .passenger_name {
                                
                                font-size: 16px;
                                font-weight: bold;
                                color: #3A3B50;
                                margin-right: 10px;   
                            }
                            .passenger_identity {
                                
                                font-size: 14px;
                                font-weight: 400;
                                color: #878791;
                            }
                        }
                        .div_item {
                            display: inline-flex;
                            margin-right: 40px;
                            .div_title {
                                
                                font-size: 14px;
                                font-weight: 400;
                                color: #878791;
                                margin-right: 8px;
                            }
                            .div_input {
    
                                font-size: 14px;
                                font-weight: 400;
                                color: #333333;
                            }
                        }
                    }
                }
            }
            .contact_div {
                display: flex;
                flex-direction: column;
                padding: 24px;
                .item_space {
                    display: inline-flex;
                    margin-bottom: 26px;
                    .div_item {
                        display: inline-flex;
                        margin-right: 40px;
                        .div_title {
                            
                            font-size: 14px;
                            font-weight: 400;
                            color: #878791;
                            margin-right: 8px;
                        }
                        .div_input {
    
                            font-size: 14px;
                            font-weight: 400;
                            color: #333333;
                        }
                    }
                }
                .ant-checkbox-checked .ant-checkbox-inner {
                    background-color: #5B7CF0;
                    border-color:#5B7CF0;
                }
                .not_insure {
                    
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                }
                
            }
            .price_div {
                padding: 24px;
                .price_button {
                    display: flex;
                    justify-content: center;
                    margin:24px 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                    .back_btn {
                        margin-right: 16px;
                        .ant-btn {
                            width: 112px;
                            height: 40px;
                            border: 1px solid #DADDE2;
                            border-radius: 5px;
                            
                        }
                    }
                    .btn_item {
                        margin-right: 16px;
                        .ant-btn {
                            width: 112px;
                            height: 40px;
                            border: 1px solid #DADDE2;
                            border-radius: 5px;
                            background: #5B7CF0;
                            color: #fff;
                        }
                    }
                }
            }
            .payment_div {
                padding: 24px;
                display: flex;
                justify-content: center;
                .cancel_btn {
                    margin-right: 16px;
                    .ant-btn {
                        width: 112px;
                        height: 40px;
                        border: 1px solid #DADDE2;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #333333;
                    }
                }
                .pay_btn {
                    .ant-btn {
                        width: 160px;
                        height: 40px;
                        background: #F87C2E;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #FFFFFF;
                    }
                }
            }
            .voucher_div {
                padding: 24px;
                .item_space {
                    display: inline-flex;
                    .div_item {
                        display: inline-flex;
                        margin-right: 40px;
                        .div_title {
                            
                            font-size: 14px;
                            font-weight: 400;
                            color: #878791;
                            margin-right: 8px;
                        }
                        .div_input {

                            font-size: 14px;
                            font-weight: 400;
                            color: #333333;
                        }
                    }
                    .address_div {
                        height: 80px;
                        background:rgba(243, 243, 247, 0.7);
                    }
                }
            }
            .insure_div {
                display: flex;
                flex-direction: column;
                padding: 24px;
                .insure_space {
                    display: inline-flex;
                    justify-content: space-between;
                    .space_title {
                        
                        font-size: 16px;
                        font-weight: 400;
                        color: #333333;
                    }
                    .space_amount {
                        
                        font-size: 24px;
                        font-weight: bold;
                        color: #5B7CF0;
                    }
                    .insure_item {
                        display: inline-flex;
                        .insure_icon {
                            width: 16px;
                            height: 16px;
                            background: url("../../../static/insure_icon.png") no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
            }
            .insure_table {
                padding: 24px;
            }
        }
        .flight_div {
            
            background: #ffffff;
            border-radius: 5px;
            margin-bottom: 16px;
            .flight_title {
              font-size: 18px;
              font-weight: bold;
              color: #3a3b50;
              border-bottom: 1px solid #dadde2;
              padding: 16px 24px;
            }
            .flight_detail {
              display: flex;
              align-items: flex-start;
              margin-top: 34px;
              margin-bottom: 21px;
              .flight_type {
                background: #5b7cf0;
                border-radius: 2px;
                color: #fff;
                font-weight: 400;
                font-size: 12px;
                margin: 12px 24px;
                padding: 0 5px;
              }
              .flight_route {
                display: flex;
                flex-direction: column;
                .flight_address {
                  font-size: 28px;
                  font-weight: bold;
                  color: #333333;
                }
                .flight_date {
                  font-size: 14px;
                  font-weight: 400;
                  color: #333333;
                }
              }
              .route_div {
                display: flex;
                .center_route {
                  display: flex;
                  flex-direction: column;
                  .flight_airport {
                    font-size: 14px;
                    font-weight: 400;
                    color: #333333;
                  }
                  .flight_time {
                    font-size: 24px;
                    font-weight: bold;
                    color: #333333;
                  }
                }
                .flight_icon {
                  width: 154px;
                  height: 28px;
                  object-fit: contain;
                  background: url("../../../static/flight_fly.png") no-repeat center
                    center;
                  background-size: contain;
                }
              }
              .flight_entry {
                display: flex;
                margin: 23px 24px;
                .entry_item {
                  font-size: 14px;
                  font-weight: 400;
                  color: #5b7cf0;
                }
              }
            }
            .open {
              width: 84px;
              height: 26px;
              background: #3a3b50;
              border-radius: 5px 5px 0px 0px;
              margin: auto;
              color: #fff;
              text-align: center;
              padding-top: 2px;
              cursor: pointer;
            }
            .open_content {
              border-radius: 0px 0px 5px 5px;
              border-top: 2px dotted #dadde2;
              .content_div_open {
                display: flex;
                margin: 25px 24px;
                .open_left {
                  display: flex;
                  align-items: center;
                  .left_div {
                    display: flex;
                    flex-direction: column;
                    margin-right: 5px;
                    .open_left_date {
                      font-size: 12px;
                      font-weight: 400;
                      color: #878791;
                      &:first-child {
                        margin-bottom: 32px;
                      }
                    }
                    .open_left_time {
                      font-size: 14px;
                      font-weight: bold;
                      color: #333333;
                      &:first-child {
                        margin-bottom: 32px;
                      }
                    }
                    .open_left_address {
                      font-size: 14px;
                      font-weight: bold;
                      color: #333333;
                      &:first-child {
                        margin-bottom: 32px;
                      }
                    }
                  }
                  .left_icon {
                    width: 14px;
                    height: 56px;
                    object-fit: contain;
                    background: url("../../../static/flight_fly_colomn.png") no-repeat
                      center center;
                    background-size: contain;
                  }
                }
                .open_middle {
                  display: flex;
                  align-items: center;
                  .middle_icon {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    background: url("../../../static/flight_icon.png") no-repeat center
                      center;
                    background-size: contain;
                    margin-right: 8px;
                  }
                  .middle_fly_type {
                    font-size: 12px;
                    font-weight: 400;
                    color: #333333;
                    margin-right: 8px;
                  }
                  .middle_fly_modal {
                    font-size: 12px;
                    font-weight: 400;
                    color: #878791;
                    border-bottom: 1px dotted #afafb5;
                    margin-right: 8px;
                  }
                  .middle_fly_cabin {
                    font-size: 12px;
                    font-weight: 400;
                    color: #333333;
                    margin-right: 8px;
                  }
                  .middle_fly_share {
                    width: 36px;
                    height: 18px;
                    background: #928cd2;
                    border-radius: 2px;
                    color: #fff;
                    padding: 0 3px;
                    margin-right: 8px;
                  }
                  .middle_fly_meal {
                    width: 13px;
                    height: 15px;
                    object-fit: contain;
                    background: url("../../../static/flight_meal.png") no-repeat center
                      center;
                    background-size: contain;
                  }
                }
                .open_right {
                  display: flex;
                  align-items: center;
                  margin: 47px 104px;
                  .right_icon {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                    background: url("../../../static/flight_time.png") no-repeat center
                      center;
                    background-size: contain;
                  }
                  .right_consume {
                    font-size: 12px;
                    font-weight: 400;
                    color: #333333;
                  }
                }
              }
            }
        }
    }
}